.dislayPresentaion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
}

.PrezCaroussel {
  border: 4px rgb(99, 19, 85) solid;
  background-color: #231F20;
  border-radius: 10px;
  margin-right: 20%;
  margin-left: 20%;
  padding: 2em;
}

.imgDivider {
  border: 2px solid rgb(99, 19, 85);
  border-radius: 50%;
  min-height: 2em;
  min-width: 2em;
}

.SubtitleAccueil {
  -webkit-text-stroke-color: rgb(99, 19, 85);
  -webkit-text-stroke: 0.5px;
  font-size: 3em
}

.displayBannDevis {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #231F20;
  border: 2px solid rgb(99, 19, 85);
  padding: 5em;
}

.ContactMeLink {
  color: white;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: rgb(99, 19, 85);
  border: 2px solid rgb(99, 19, 85);
  font-size: 20px;
  padding: 1em
}

.ToutVoirLink {
  color: white;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: rgb(99, 19, 85);
  border: 2px solid rgb(99, 19, 85);
  font-size: 20px;
  padding: 1em;
  min-width: 100px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #231F20
}