@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
.bodyCv {
  background-color: white;
  border: rgb(99, 19, 85) 4px solid;
  margin-left: 4em;
  margin-right: 4em
}

.cvB {
  height: 100%;
  width: 100%;
  padding: 2em;
  background-size: cover;
  font-family: 'Indie Flower', cursive;
}

.cvH {
  background: url('../asset/Logo2.png');
  padding: 2em;
  border: 1px solid white;
  border-radius: 20%;
  box-shadow: 2px 6px 10px 2px teal;
}

/* header*/

.logo {
  margin: auto;
  width: 35em;
  border-radius: 25%;
  box-shadow: 2px 6px 10px 2px coral;
}

.cvTitle {
  margin-left: auto;
  color: teal;
  font-size: 2.5em;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: coral;
  font-family: 'Indie Flower', cursive;
}

.floatHeader2 {
  font-size: 1.8em;
  float: right;
  color: teal;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: coral;
}

.floatHeader1 {
  font-size: 1.8em;
  color: coral;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: teal;
}

/* Login */

.connection {
  margin-left: auto;
  margin-right: auto;
  padding: 0.3em;
  text-align: center;
  font-size: 2em;
  color: black;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: teal;
  font-family: 'Indie Flower', cursive;
}

.blockLogin {
  font-size: 1em;
  ;
  text-align: center;
  color: black;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: teal;
}

.formLogin {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5%;
  padding: 10px;
}

/* Register */

.register {
  padding: 0.3em;
  text-align: center;
  font-size: 2em;
  color: black;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: teal;
  font-family: 'Indie Flower', cursive;
}

.blockRegister {
  font-size: 1em;
  text-align: center;
  color: black;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: teal;
}

.formRegister {
  border-radius: 5%;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}