
.liens{
text-align: center
}

.centerLiens{
  display: flex;
  justify-content: center
}

.displayImgPage{
  border: 4px solid rgb(99, 19, 85);
  border-radius: 50%
}
.displayImgPageLinkedin{
  border: 4px solid rgb(99, 19, 85);
  border-radius: 10%
}