@import url('https://fonts.googleapis.com/css?family=Parisienne&display=swap');

html {
  height: 100%;
  width: 100%;
  
}

body {
  max-height: 100%;
  max-width: 100%;
}

.displayStart {
 padding: 2em;
 margin: auto;
 background-color: #0a2725
}

.displayTitle {
  font-family: 'Parisienne', cursive;
  border: 6px solid ivory;
  background-color: #0a2725;
  text-align: center;
  max-width: 300px;
  min-width: 100px;
  color: ivory;
  margin: auto;
  padding: 1em;
}

.displayLink {
  font-family: 'Parisienne', cursive;
  text-align: center;
  color: ivory
}

.displayFond{
  margin: auto;
  border: #0a2725 6px dotted
}

.displaytext{
  text-align: center
}

h1{
  font-family: 'Parisienne', cursive;
}
h2{
  font-family: 'Parisienne', cursive;
}
h3{
  font-family: 'Parisienne', cursive;
}
h4{
  font-family: 'Parisienne', cursive;
}
h5{
  font-family: 'Parisienne', cursive;
}
audio{
  opacity: 1;
  width: 100px;
  margin-left: 75px;
}

figure {
  position: relative; 
 
}

figcaption {
  position: absolute;
  top: 1%;
}